html {
    font-family: Arial;
}

header {
    min-width: 400px;
    width: auto !important;
    text-align: center;
}

body {
    min-width: 400px;
    width: auto !important;
}


#container {
    display: inline-block;
    position: relative;
}

h1 h2 h3 {
    text-transform: uppercase;
    color: white;
}

h2 {
    margin: 0 0 1vw 0;
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

#container h1 p {
    position: absolute;
    top: 145px;
    right: 20px;
    font-size: 40px;
    color: black;
    text-shadow: 0 0 5px black;
}

.seta {
    position: absolute;
    text-align: center;
    width: auto;
    max-width: 30px;
    height: auto;
    user-select: none;
}

.botao {
    cursor: pointer;
    max-width: 3vw;
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-out;
}

.botao:hover {
    transform: scale(1.05);
    transition: 0.2s, transform 0.2s ease-out;
}

.col-md-4 {
    width: 33%;
}

.col-md-6 {
    width: 50%;
}

.col-md-8 {
    width: 66%;
}

.col-md-12 {
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .section03-container {
        display: block !important;
    }

    .col-sm-4 {
        width: 33%;
    }

    .col-sm-8 {
        width: 66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .section03-content p {
        text-align: center;
    }

    .section03-content h1 {
        text-align: center;
    }

    .form-email-telefone {
        display: block !important;
    }

    input {
        min-height: 40px;
    }


    .form-email {
        padding-right: 0 !important;
    }

    .form-telefone {
        padding-left: 0 !important;
    }

    header {
        background-color: #454545;
    }

    #titulo {
        position: unset !important;
        left: unset !important;

    }

    #titulo p {
        color: white !important;
    }

    #titulo h1 {
        padding-top: 10px;
        color: white !important;
    }

    .texto-titulo {
        position: unset !important;
        left: unset !important;
    }

    .seta-topo {
        color: #707070;
        position: absolute;
        overflow: visible;
        z-index: 9999 !important;
        left: 50%;
    }

    .seta {
        padding-top: 10px;
        max-width: 5vw !important;
    }

    .botao-enviar {
        max-width: 17vw !important;
    }
    .netxPrev_Positon{
        width: 90%!important;
    }

}
@media screen and (max-width: 600px) {
    .section02-content {
        width: 100%!important;
    }
    .netxPrev_Positon{
        width: 25%!important;
        top: 90% !important;
        margin-top: 10px;
    }
}


#titulo {
    position: absolute;
    z-index: 9999;
    left: 50%;
}

#titulo p {
    font-size: 30px;
    color: #4d6128;
    font-weight: bold;
    margin: 0 0 3vh 0;
}

#titulo h1 {
    font-size: 60px;
    color: #4d6128;
    margin: 5vh 0 2vh 0;
    text-transform: uppercase;
}


.texto-titulo {
    position: relative;
    left: -50%;
}

.wrapper {
    width: 100%;
    text-align: center;

}

.wrapper img {
    width: 100%;
    height: auto;
}


#galeria {
    z-index: 100;
    display: block;
    width: 100%;
}

* {
    box-sizing: border-box
}


.slideshow-container {
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.netxPrev_Positon{
    padding: 10px;
    position: absolute;
    width: 80%;
    top: 50%;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    position: relative;
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color: #434343;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #4d6128;
    border-color: white;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.dots {
    position: relative;
    background-color: rgba(67, 67, 67, 0.5);;
    margin-top: -9.1vh;
}


/*section 2*/
#section02 {
    background-color: #434343;
    padding: 5vh 0;
}

.section02-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section02-content {

    text-align: center;
    width: 33.3%;
    padding: 0 0.5vw;
    /*display: none;*/
}
.section02-content img {
    max-width: 380px;
}
.section02-content.ativo {
}

/*section03*/
#section03 {
    background-color: #707070;
    padding: 5vh 0;
}

.section03-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.section03-content {
    padding: 0 0 0 2vw;
}

.section03-content img {
    max-width: 400px;
}

#section03 h1 {
    color: white;
    margin: 0 0 2vh 0;
    text-transform: uppercase;
}

/*SECTION04*/

#section04 {
    background-color: #bfbfbf;
    padding: 5vh 0;
}

.section04-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.section04-content img {
    max-width: 400px;
}

/*SECTION05*/
#section05 {
    background: linear-gradient( to right bottom, #6f6f6f 50%, #454545 50%);
    background-size: cover;
    padding: 5vh 0;
}


.section05-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

form {
    font-size: 2vw;
    width: 100%;
    height: auto;
    padding: 0 1vw;
}

input {
    width: 100%;
    font-size: 20px;
    margin: 0.5vw;
    padding: 1vw;
    background-color: #bebebe;
    border-radius: 10px;
}

textarea {
    width: 100%;
    font-size: 20px;
    margin: 0.5vw;
    padding: 1vw;
    background-color: #bebebe;
    border-radius: 10px;
}

.enviar input {
    width: 100%;
    margin: 0.5vw;
    padding: 1vw;
    background-color: white;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.teste{}

.form-email-telefone {
    position: relative;
    display: flex
}

.form-email {
    padding-right: 7px;
}

.form-telefone {
    padding-left: 7px;
}

.botao-enviar {
    min-width: 70px;
    cursor: pointer;
    max-width: 10vw;
    transform-box: fill-box;
    transform-origin: 50% 50%;
    transition: transform 0.5s ease-out;
}

.botao-enviar:hover {
    transform: scale(1.05);
    /*transition: 0.2s;*/
    transition: 0.2s, transform 0.2s ease-out;

}


/*RODAPE*/
#rodape h3 {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

#rodape {
    padding: 1vh 0;
    background-color: #343434;
}